* {
    padding: 0px;
    margin: 0px;
    background-color:#C5D5E4 ;
}

header {
    margin: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}
nav{
    background-color:#466362 ;
}
nav li a {
    background-color: black;
    color: wheat;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover{
    background-color: #777;

}

nav > li {
    float: left;
}

nav li ul{
    display: none ;
    position: absolute;
    min-width: 140px;
}

nav li:hover>ul{
    display: block;
}

h1 {
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 20px;
}

.contenido {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#C5D5E4 ;


}

.articulos {
    width: 80%;
    border: right 3px solid black;

}

.secciones {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.Menu-secundario {
    width: 20%;
    text-decoration-color: antiquewhite;
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
    padding-top: 50px;
}

.Menu-secundario a {
    display: block;
    text-align: center;
    color: antiquewhite;
    margin-bottom: 10px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

#imagen {
    width: 150px;
    margin-left: 5px;
    height: 100px;
    object-fit: cover;
}