* {
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.8px;
}

header {
    margin: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

header nav li a {
    margin: auto;
    display: flex;
    background-color: grey;
    color: wheat;
    text-decoration: none;
    padding: 20px 20px ;

}

nav li a:hover {
    background-color: #777;

}

nav>li {

    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 20%;
    justify-content: center;
    align-items: center;
}

nav li:hover>ul {
    display: block;
}

h1 {
    text-align: center;
    background-color: darkslategrey;
    color: wheat;
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: darkslategrey;
    color: wheat;
    padding: 20px;
}

p {
    padding-left: 20px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #C5D5E4;
}

.articulos {
    width: 100%;
    border: right 3px solid black;
    border: left 3px solid black;

}

.secciones {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}


.carousel {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #a07eff;
    border-radius: 40px;
}

#imagen {
    margin: auto;
    width: 323px;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    color: #33475b;
    height: 382px;
}

footer {
    display: block;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}