* {
    padding: 0px;
    margin: 0px;
    
}

header {
    margin: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

header nav li a {
    position: relative;
    background-color: grey;
    color: wheat;
    text-decoration: none;
    padding: 18px 276px;
    display: flex;
}

nav li a:hover{
    background-color: #777;

}

nav > li {
    float:right;
    list-style: none;
}

nav li ul{
    display: flex;
    display: none ;
    position: absolute;
    min-width: 140px;
}

nav li:hover>ul{
    display: block;
}

h1 {
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 20px;
}

p{
    padding-left: 20px;
}

.contenido {
    display:block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#C5D5E4 ;
}

.articulos {
    width: 100%;
    border: right 3px solid black;
    border: left 3px solid black;

}

.secciones {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.carousel {
    align-items: center;
    max-width: 100%;
    margin:auto ;
    display: flex;
}

#imagen {
    width: 150px;
    margin-left: 5px;
    height: 360px;
    object-fit: cover;
}

img{
    text-align:center;
}

.infinite-progress-container #gaz-infinite-progress {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    width: auto;
    height: 5px;
    margin-top: 5px;
    background-color: #2A2C61;
    -webkit-box-shadow: 0 2px 5px 0 rgb(40 117 126 / 50%);
    box-shadow: 0 2px 5px 0 rgb(40 117 126 / 50%);
    z-index: 120;
}